body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.containerr {
  padding: 0px;
  margin: 0px;
  width: 100vw;

}

.attendContainer {
  display: flex;
  padding: 0vw 10vw 0vw 10vw;
}

.logoContainer {
  width: 500px;
  padding-right: 30px;
}

.attendee {
  display: flex;
  gap: 20px;
}
